html,body{
	font-family: 'Open Sans', sans-serif;
	box-sizing: border-box;
	font-size: 16px;
}

:root {
	--main-bg-color: rgb(221, 150, 57);
	--main-h-color: rgb(214, 140, 44);
}

body{
	margin: 0;
	padding: 0;
	min-width: 350px;
}

header{
	position: relative;
	height: 60px;
	background-color: var(--main-bg-color);
	color: #fff;
}

h1,h2,h3,h4{
	color: var(--main-h-color);
	font-weight: 400;
	margin-top: 0px;
	margin-bottom: 10px;
}

h1{
	font-size: 1.8rem;
	margin-top: 7px;
}

p{
	color: #555;
	font-size: 0.9rem;
	margin-top: 0;
	margin-bottom: 7px;
	line-height: 1.4rem;
}

.centered{
	text-align: center;
}

.header-title-wrapper{
	user-select: none;
	position: relative;
	display: inline-block;
	height: 100%;
	padding: 5px;
}

.header-title-wrapper img{
	float: left;
	margin-top: 4px;
	margin-right: 10px;
	height: calc(100% - 16px);
}

.header-title-text{
	float: left;
	font-size: 1.5rem;
	line-height: 50px;
	font-weight: 600;
}

.header-title-text > span {
    font-weight: 100;
    font-size: 0.8rem;
    margin-left: 10px;
    color: #d6d6d6;
}

.header-title-subtext{
	position: absolute;
    right: 0;
    top: 42px;
    font-size: 0.6rem;
}

.header-title-text.short{
	display: none;
}


@media only screen and (max-width: 600px) {
	#logo-single{
		display: block;
	}
	#logo{
		display: none;
	}

	.header-title-text.short{
		display: inline-block;
	}

	.header-title-text.long{
		display: none;
	}	
}


.header-menu-activator, .header-menu-closer{
	position: absolute;
	right: 0;
	top: 0;
	padding: 15px;
	height: 30px;
	cursor: pointer;
	user-select: none;
}

.header-menu-activator img, .header-menu-closer img{
	height: 100%;
}

.header-menu{
	position: absolute;
	text-align: left;
	z-index: 3;
	right: 0;
	top: 0;
	width: 0px;
	transition: width 0.6s ease;
	overflow: hidden;
	box-shadow: -3px 0px 8px #102f44;
}

.header-menu.visible{
	width: 350px;
}

.header-menu-wrapper{
	position: relative;
	background-color: var(--main-bg-color);
	min-height: calc(100vh - 120px);
	padding: 60px 0;
	width: 350px;
	
}

.header-menu-item{
	font-weight: 300;
	font-size: 1.6rem;
	line-height: 2.5rem;
}

.header-menu-item:hover{
	background: #fff;
}

header a{
	color: #fff;
	text-decoration: none;
	padding: 0 20px;
}

.header-menu a{
	display: block;
}

.header-menu-item:hover a{
	color: var(--main-h-color);	
}

header a.selected, .header-menu-item:hover a.selected{
	color: #98692b;
}

.header-menu-language-changer{
	position: absolute;
    bottom: 20px;
}

.header-menu-active-layer{
	z-index: 3;
	position: fixed;
	display: none;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0,0,0,0.5);
}


#main{
	min-height: calc(100vh - 90px);
	position: relative;
	background: #f5f5f5;
}

.page{
	max-width: 1200px;
	padding: 30px;
	min-height: calc(100vh - 150px);
	margin: 0 auto;
	background: #fff;
}

@media only screen and (max-width: 800px) {
	.page{
		padding: 15px;
	}
}



div.pile{
	padding: 20px;
	border: solid 1px #ddd;
	margin-bottom: 20px;
}

div.pile.loading{border-color: rgb(155, 183, 209);}
div.pile.loaded{border-color: #ddd;}
div.pile.error{border-color: rgb(167, 83, 83);}

p.title{
	text-transform: uppercase;
	font-size: 0.7rem;
	font-weight: 700;
	margin-bottom: 0px;
}

.button{
	margin-left: 6px;
	font-size: 0.8rem;
	position: relative;
	float: right;
	color: white;
	padding: 3px 20px;
	background-color: var(--main-bg-color);
	cursor: pointer;
	user-select: none;
	border-radius: 3px;
}

.button:before{
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-color: rgba(0,0,0,0);
}
.button:hover:before{
	background-color: rgba(0,0,0,0.05);
}
.button:active:before{
	background-color: rgba(0,0,0,0.1);
}


.button.small{
	font-size: 0.7rem;
	padding: 1px 12px;
}


#title-workspaces span{
	color: #777;
    font-size: 0.6rem;
    margin-left: 7px;
}



footer{
	text-align: center;
	background-color: var(--main-bg-color);
	color: #fff;
	font-size: 0.7rem;
	line-height: 30px;
}

footer a{
	color: white;
}


/*Checkbox as switch*/
input.selected[type="checkbox"] {
	display:none;
  }
  input.selected[type="checkbox"] + label {
    width: 29px;
    height: 15px;
    border-radius: 30px;
    border: 1px solid #ddd;
    background-color: #EEE;
    display: inline-block;
    content: "";
	margin-right: 5px;
	float: right;
	margin-top: 2px;
    transition: background-color 0.5s linear;
  }
  input.selected[type="checkbox"] + label:hover {
	cursor: pointer;
  }
  input.selected[type="checkbox"] + label::before {
	width: 15px;
	height: 15px;
	border-radius: 30px;
	background-color: #fff;
	display: block;
	content: "";
	float: left;
	margin-right: 5px;
	transition: margin 0.1s linear;
	box-shadow: 0px 0px 5px #aaa;
  }
  input.selected[type="checkbox"]:checked+label{
	background-color:  var(--main-bg-color);
  }
  input.selected[type="checkbox"]:checked+label::before {
	margin: 0 0 0 15px;
  }

#calcStatus{
	float: right;
    font-size: 0.8rem;
    font-weight: bold;
    line-height: 24px;
    margin-right: 16px;
}
	#calcStatus.running{color: var(--main-bg-color)}
	#calcStatus.canceled{color: #cc3d3d;}